.dashboardCard {
  max-width: 675px;
  text-align: center;
}

.dashboardCardButtonContainer {
  max-width: 375px;
  margin: 0 auto;
  margin-top: $gutterSmall;
}

.percentComplete {
  @include AvenirHeavy;
  color: $primaryMain;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 3px;

  @media screen and (min-width: 768px) {
    font-size: 2.75rem;
    line-height: 3.25rem;
  }
}