.roleSelectContainer {
  max-width: 600px;
  margin: 0 auto;

  .controls {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      .buttonContainer {
        width: 110px;
      }
    }
  }
}

.roleSelectHeading {
  margin-bottom: 36px;

  h2 {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 16px;
    text-align: center;
  
    @media screen and (min-width: 768px) {
      max-width: auto;
    }
  }
  
  .subHeading {
    @include AvenirHeavy;
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 1.25px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
  }
}

.roleSelections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  max-width: 440px;
  margin: 0 auto;

  .roleCard {
    width: 48.5%;
    border-radius: 4px;
    margin-bottom: 9px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* For absolutely positioned children */
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    border: solid 1.3px transparent;

    @media screen and (min-width: 768px) {
      margin-bottom: 18px;
    }

    .checkboxContainer {
      position: absolute;
      top: 0;
      right: 0;
    }

    .imageContainer {
      .designer {
        height: 55px;
        margin-bottom: 9px;
      }

      .developer {
        height: 67px;
      }

      .support {
        height: 40px;
      }

      .lead {
        height: 48px;
        margin-bottom: 6px;
      }
    }

    .label {
      font-size: 0.875rem;
      line-height: normal;
      letter-spacing: .1px;
      text-align: center;
    }
  }

  .selected {
    border: solid 1.3px $primaryDark;
  }
}