/* Primary */
$primaryLight: #7BCDD1;
$primaryMain: #36858b;
$primaryDark: #3C405E;

/* Gray */
$grayLight: #DCDCDC;
$grayPale: #FAFAFA;

/* Misc */
$white: #FFFFFF;
$black: #000000;
$green: #1A850A;
$red: #e12c2c;