@font-face {
  font-family: 'Avenir-Medium';
  src: url('../assets/fonts/Avenir-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir-Black';
  src: url('../assets/fonts/Avenir-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('../assets/fonts/Avenir-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir-BookOblique';
  src: url('../assets/fonts/Avenir-BookOblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir-Roman';
  src: url('../assets/fonts/Avenir-Roman.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('../assets/fonts/Avenir-Heavy.ttf') format('truetype');
}