.form, .profileForm {
  /* TODO: Investigate adding this globally using Material UI */
  /* https://mui.com/material-ui/customization/typography/ */
  input {
    @include AvenirRoman;
    letter-spacing: 0.15px;
  }

  textarea {
    @include AvenirRoman;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.13px;

    @media screen and (min-width: 768px) {
      font-size: 1rem;
      letter-spacing: 0.15px;
    }
  }
}

.inputLabel {
  @include AvenirRoman;
  letter-spacing: 0.15px;
}

.checkboxLabel {
  @include AvenirBook;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}

.radioLabel {
  @include AvenirBook;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;

  @media screen and (min-width: 768px) {
    @include AvenirBook;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
  }
}

.textFieldWrapperSmall {
  @media screen and (min-width: 768px) {
    max-width: 234px;
  }
}

.textFieldWrapperMedium {
  @media screen and (min-width: 768px) {
    max-width: 393px;
  }
}
